# SQL Practice

This is a quick notebook with exercises for anyone wanting to practice their SQL. It uses the [California School SAT Performance](http://2016.padjo.org/tutorials/sqlite-data-starterpacks/#toc-california-school-sat-performance-and-poverty-data) dataset, which gives a good enough set of data to use many SQL features.

We use SQLite specifically, which lacks a few SQL language features - you can adapt it to your own database if you like.

It also requires you to install `jupysql` into your Python environment (`conda install jupysql` if using Conda).

## Download the Dataset

In [808]:
![ -f "cdeschools.sqlite" ] || curl http://2016.padjo.org/files/data/starterpack/cde-schools/cdeschools.sqlite --output cdeschools.sqlite

## Load `jupysql` and the Dataset

In [809]:
%load_ext sql

%sql sqlite:///cdeschools.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Show Tables Available, and a Sample for each Table

In [810]:
%%sql
SELECT name 
FROM sqlite_master 
WHERE type='table'
ORDER BY name;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------+
|    name   |
+-----------+
|    frpm   |
| satscores |
|  schools  |
+-----------+

In [811]:
%%sql
SELECT *
FROM frpm
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+
| Academic Year | County Code | District Code | School Code | County Name |           District Name            |                  School Name                  |          District Type           |      School Type      | Educational Option Type | NSLP Provision Status | Charter School (Y/N) | Charter School Number | Charter Funding Type | IRC | Low Grade | High Grade | Enrollment (K-12) | Free Meal Count (K-12) | Percent (%) Eligible Free (K-12) | FRPM Count (K-12) | Percent (%) Eligible FRPM (K-12) | Enrollment (Ages 5-17) | Free Meal Count (Ages 5-17) | Percent (%) Eligible Free (Ages 5-17) | FRPM Count (Ages 5-17) | Percent (%) Eligible FRPM (Ages 5-17) | 2013-14 CALPADS Fall 1 Certification Status |
+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+
|   2014-2015   |      01     |     10017     |   0109835   |   Alameda   | Alameda County Office of Education |              FAME Public Charter              | County Office of Education (COE) | K-12 Schools (Public) |       Traditional       |          None         |          1           |          0728         |   Directly funded    |  1  |     K     |     12     |       1087.0      |         565.0          |        0.5197792088316467        |       715.0       |        0.6577736890524379        |         1070.0         |            553.0            |           0.516822429906542           |         702.0          |           0.6560747663551402          |                      1                      |
|   2014-2015   |      01     |     10017     |   0112607   |   Alameda   | Alameda County Office of Education |     Envision Academy for Arts & Technology    | County Office of Education (COE) | High Schools (Public) |       Traditional       |          None         |          1           |          0811         |   Directly funded    |  1  |     9     |     12     |       395.0       |         186.0          |        0.4708860759493671        |       186.0       |        0.4708860759493671        |         376.0          |            182.0            |          0.48404255319148937          |         182.0          |          0.48404255319148937          |                      1                      |
|   2014-2015   |      01     |     10017     |   0118489   |   Alameda   | Alameda County Office of Education | Aspire California College Preparatory Academy | County Office of Education (COE) | High Schools (Public) |       Traditional       |          None         |          1           |          1049         |   Directly funded    |  1  |     9     |     12     |       244.0       |         134.0          |        0.5491803278688525        |       175.0       |        0.7172131147540983        |         230.0          |            128.0            |           0.5565217391304348          |         168.0          |           0.7304347826086957          |                      1                      |
+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+

In [812]:
%%sql
SELECT *
FROM satscores
LIMIT 5;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+-------+----------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+
|      cds       | rtype |                 sname                  |               dname                |  cname  | enroll12 | NumTstTakr | AvgScrRead | AvgScrMath | AvgScrWrite | NumGE1500 | PctGE1500 |
+----------------+-------+----------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+
| 00000000000000 |   X   |                  None                  |                None                |   None  |  496901  |   210706   |    489     |    500     |     484     |   93334   |    44.3   |
| 01000000000000 |   C   |                  None                  |                None                | Alameda |  16978   |    8855    |    516     |    536     |     517     |    4900   |   55.34   |
| 01100170000000 |   D   |                  None                  | Alameda County Office of Education | Alameda |   398    |     88     |    418     |    418     |     417     |     14    |   15.91   |
| 01100170109835 |   S   |          FAME Public Charter           | Alameda County Office of Education | Alameda |    62    |     17     |    503     |    546     |     505     |     9     |   52.94   |
| 01100170112607 |   S   | Envision Academy for Arts & Technology | Alameda County Office of Education | Alameda |    75    |     71     |    397     |    387     |     395     |     5     |    7.04   |
+----------------+-------+----------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+

In [813]:
%%sql
SELECT *
FROM schools
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+----------+------------+------------+---------+------------------------------------+----------------------------------------+----------------------------------+-------------------------------+---------+------------+-------+----------------------------------+-------------------------------+----------+------------+-----------+----------------+------+--------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------+-----------+-------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+-----------+---------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+
|    CDSCode     | NCESDist | NCESSchool | StatusType |  County |              District              |                 School                 |              Street              |           StreetAbr           |   City  |    Zip     | State |            MailStreet            |           MailStrAbr          | MailCity |  MailZip   | MailState |     Phone      | Ext  |         Website          |  OpenDate  | ClosedDate | Charter | CharterNum |   FundingType   | DOC |             DOCType              | SOC  |        SOCType        | EdOpsCode |  EdOpsName  | EILCode  |           EILName           | GSoffered | GSserved | Virtual | Magnet |  Latitude | Longitude  | AdmFName1 | AdmLName1 |         AdmEmail1         | AdmFName2 | AdmLName2 | AdmEmail2 | AdmFName3 | AdmLName3 | AdmEmail3 | LastUpdate |
+----------------+----------+------------+------------+---------+------------------------------------+----------------------------------------+----------------------------------+-------------------------------+---------+------------+-------+----------------------------------+-------------------------------+----------+------------+-----------+----------------+------+--------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------+-----------+-------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+-----------+---------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+
| 01100170000000 | 0691051  |    None    |   Active   | Alameda | Alameda County Office of Education |                  None                  |      313 West Winton Avenue      |      313 West Winton Ave.     | Hayward | 94544-1136 |   CA  |      313 West Winton Avenue      |      313 West Winton Ave.     | Hayward  | 94544-1136 |     CA    | (510) 887-0152 | None |       www.acoe.org       |    None    |    None    |   None  |    None    |       None      |  00 | County Office of Education (COE) | None |          None         |    None   |     None    |   None   |             None            |    None   |   None   |   None  |  None  | 37.658212 | -122.09713 |  L Karen  |   Monroe  |     lkmonroe@acoe.org     |    None   |    None   |    None   |    None   |    None   |    None   | 2015-06-23 |
| 01100170109835 | 0691051  |   10546    |   Closed   | Alameda | Alameda County Office of Education |          FAME Public Charter           | 39899 Balentine Drive, Suite 335 | 39899 Balentine Dr., Ste. 335 |  Newark | 94560-5359 |   CA  | 39899 Balentine Drive, Suite 335 | 39899 Balentine Dr., Ste. 335 |  Newark  | 94560-5359 |     CA    |      None      | None |           None           | 2005-08-29 | 2015-07-31 |    1    |    0728    | Directly funded |  00 | County Office of Education (COE) |  65  | K-12 Schools (Public) |    TRAD   | Traditional | ELEMHIGH | Elementary-High Combination |    K-12   |   K-12   |    P    |   0    | 37.521436 | -121.99391 |    None   |    None   |            None           |    None   |    None   |    None   |    None   |    None   |    None   | 2015-09-01 |
| 01100170112607 | 0691051  |   10947    |   Active   | Alameda | Alameda County Office of Education | Envision Academy for Arts & Technology |       1515 Webster Street        |        1515 Webster St.       | Oakland | 94612-3355 |   CA  |       1515 Webster Street        |        1515 Webster St.       | Oakland  |   94612    |     CA    | (510) 596-8901 | None | www.envisionacademy.org/ | 2006-08-28 |    None    |    1    |    0811    | Directly funded |  00 | County Office of Education (COE) |  66  | High Schools (Public) |    TRAD   | Traditional |    HS    |         High School         |    9-12   |   9-12   |    N    |   0    |  37.80452 | -122.26815 |   Laura   |   Robell  | laura@envisionacademy.org |    None   |    None   |    None   |    None   |    None   |    None   | 2015-06-18 |
+----------------+----------+------------+------------+---------+------------------------------------+----------------------------------------+----------------------------------+-------------------------------+---------+------------+-------+----------------------------------+-------------------------------+----------+------------+-----------+----------------+------+--------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------+-----------+-------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+-----------+---------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+

## 1. Basic Queries

### Project Columns

Retrieve the `School Name`, `County Name` and `Enrollment (K-12)` from frpm.

In [814]:
%%sql
SELECT
    "School Name" AS school_name,
    "County Name" AS county_name,
    "Enrollment (K-12)" AS enrolment_k12
FROM frpm;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------------------------------+-------------+---------------+
|                  school_name                  | county_name | enrolment_k12 |
+-----------------------------------------------+-------------+---------------+
|              FAME Public Charter              |   Alameda   |     1087.0    |
|     Envision Academy for Arts & Technology    |   Alameda   |     395.0     |
| Aspire California College Preparatory Academy |   Alameda   |     244.0     |
|    Community School for Creative Education    |   Alameda   |     191.0     |
|                Yu Ming Charter                |   Alameda   |     257.0     |
|            Urban Montessori Charter           |   Alameda   |     279.0     |
|       Alameda County Juvenile Hall/Court      |   Alameda   |     181.0     |
|            Alameda County Community           |   Alameda   |     277.0     |
|                  Cox Academy                  |   Alameda   |     597.0     |
|             Lazear Charter Academy            |   Alameda   |     437.0     |
+-----------------------------------------------+-------------+---------------+
Truncated to displaylimit of 10.

### Simple Filtering

List all schools in the “Los Angeles” county (from schools) that are open.

In [815]:
%%sql
SELECT
    "School" AS school_name,
    "County" AS county_name,
    OpenDate AS open_date
FROM schools
WHERE StatusType
    IS NOT "Closed" AND
    school_name IS NOT NULL AND
    county_name IS "Los Angeles";

Running query in 'sqlite:///cdeschools.sqlite'

+---------------------------------------------+-------------+------------+
|                 school_name                 | county_name | open_date  |
+---------------------------------------------+-------------+------------+
|            Jardin de la Infancia            | Los Angeles | 2004-09-01 |
|      Aspire Antonio Maria Lugo Academy      | Los Angeles | 2005-09-06 |
|    Los Angeles International Charter High   | Los Angeles | 2005-09-06 |
| Aspire Ollin University Preparatory Academy | Los Angeles | 2006-09-11 |
|         Environmental Charter Middle        | Los Angeles | 2010-08-31 |
|               Nidorf, Barry J.              | Los Angeles | 2010-07-01 |
|          Los Padrinos Juvenile Hall         | Los Angeles | 2010-07-01 |
|            Central Juvenile Hall            | Los Angeles | 2010-07-01 |
|             Kirby, Dorothy Camp             | Los Angeles | 2010-07-01 |
|            Afflerbaugh-Paige Camp           | Los Angeles | 2010-07-01 |
+---------------------------------------------+-------------+------------+
Truncated to displaylimit of 10.

### Sorting and Filtering

From satscores, find the top 5 schools by `AvgScrMath`, showing `sname`, `AvgScrRead`, `AvgScrMath`.

In [816]:
%%sql
SELECT
    sname AS school_name,
    AvgScrMath AS avg_scr_math,
    AvgScrRead AS avg_scr_read
FROM satscores
ORDER BY avg_scr_math DESC
LIMIT 5;

Running query in 'sqlite:///cdeschools.sqlite'

+-------------------------+--------------+--------------+
|       school_name       | avg_scr_math | avg_scr_read |
+-------------------------+--------------+--------------+
|  Mission San Jose High  |     699      |     653      |
|      Lynbrook High      |     698      |     639      |
|     Monta Vista High    |     691      |     638      |
| Whitney (Gretchen) High |     687      |     639      |
|    Henry M. Gunn High   |     686      |     642      |
+-------------------------+--------------+--------------+

### Distinct Values

Get all distinct `FundingType` values from schools.

In [817]:
%%sql
SELECT
    DISTINCT(FundingType) AS funding_type,
    COUNT(DISTINCT School) AS number_of_schools
FROM schools
GROUP BY funding_type;

Running query in 'sqlite:///cdeschools.sqlite'

+-------------------------+-------------------+
|       funding_type      | number_of_schools |
+-------------------------+-------------------+
|           None          |       12307       |
|     Directly funded     |        1156       |
|      Locally funded     |        452        |
| Not in CS funding model |         6         |
+-------------------------+-------------------+

## Aggregations and Groupings

### Basic Aggregates

For each district in frpm (`District Name`), compute the total `Enrollment (K-12)` and average `Percent (%) Eligible FRPM (K-12)`.

In [818]:
%%sql
SELECT 
    "District Name" AS district_name,
    SUM("Enrollment (K-12)") AS total_enrolment_k12,
    AVG("Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12
FROM frpm
WHERE district_name IS NOT NULL
GROUP BY district_name
ORDER BY total_enrolment_k12 DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------------+---------------------+---------------------------+
|        district_name        | total_enrolment_k12 | avg_pct_eligible_frpm_k12 |
+-----------------------------+---------------------+---------------------------+
|     Los Angeles Unified     |       646683.0      |     0.7661354707053055    |
|      San Diego Unified      |       129794.0      |     0.6341436895240766    |
|      Long Beach Unified     |       79709.0       |     0.6499238451630597    |
|        Fresno Unified       |       73543.0       |     0.8505455348746777    |
|      Elk Grove Unified      |       62888.0       |     0.5605733170202977    |
|    San Francisco Unified    |       58414.0       |     0.6422081930672513    |
|      Santa Ana Unified      |       56815.0       |     0.8565427846367221    |
|      Capistrano Unified     |       54036.0       |    0.24393433223604294    |
|     Corona-Norco Unified    |       53739.0       |     0.4835829509222873    |
| San Bernardino City Unified |       53365.0       |     0.8826857456644714    |
+-----------------------------+---------------------+---------------------------+
Truncated to displaylimit of 10.

### Filtering Groups

Identify districts with more than 10,000 total enrollment in frpm. Show `District Name` and total enrollment.

In [819]:
%%sql
SELECT 
    "District Name" AS district_name,
    SUM("Enrollment (K-12)") AS total_enrolment_k12
FROM frpm
GROUP BY district_name
HAVING total_enrolment_k12 > 10000
ORDER BY total_enrolment_k12 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------------------+---------------------+
|       district_name        | total_enrolment_k12 |
+----------------------------+---------------------+
|     Merced Union High      |       10039.0       |
|   Woodland Joint Unified   |       10055.0       |
|       Lompoc Unified       |       10076.0       |
|       Bonita Unified       |       10146.0       |
| Roseville Joint Union High |       10223.0       |
|     Los Banos Unified      |       10260.0       |
|      Milpitas Unified      |       10281.0       |
|    Adelanto Elementary     |       10378.0       |
|      Berkeley Unified      |       10442.0       |
|     Perris Union High      |       10510.0       |
+----------------------------+---------------------+
Truncated to displaylimit of 10.

### Aggregate on a Join

Join schools and frpm on the `cds` code, then for each school type (`School Type`) compute average `Percent (%) Eligible FRPM (K-12)`.

In [820]:
%%sql
-- There is no adjoining code between schools and frpm, so we use name instead.
SELECT
    s1.School AS school_name,
    s1.County AS county,
    s2."School Type" AS school_type,
    AVG(s2."Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12
FROM schools AS s1
INNER JOIN frpm AS s2 ON s1.School = s2."School Name"
GROUP BY school_type
ORDER BY avg_pct_eligible_frpm_k12 DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------------------------+---------+--------------------------------------+---------------------------+
|               school_name               |  county |             school_type              | avg_pct_eligible_frpm_k12 |
+-----------------------------------------+---------+--------------------------------------+---------------------------+
|    Pine Grove Youth Conservation Camp   |  Amador |      Youth Authority Facilities      |            1.0            |
|    Alameda County Juvenile Hall/Court   | Alameda |        Juvenile Court Schools        |     0.8431207533324713    |
|              Community Day              |  Fresno |    District Community Day Schools    |     0.8083415487649598    |
|    Independent Study, Sojourner Truth   | Alameda |         Opportunity Schools          |     0.7861783973986869    |
|         Alameda County Community        | Alameda |           County Community           |     0.7712099176268455    |
|     California School for the Blind     | Alameda |        State Special Schools         |     0.7652792091301195    |
|        Island High (Continuation)       | Alameda |      Continuation High Schools       |     0.6813267525545001    |
| Community School for Creative Education | Alameda |     Elementary Schools (Public)      |     0.6551185234523391    |
|          The Academy of Alameda         | Alameda | Intermediate/Middle Schools (Public) |     0.6212738526114561    |
|           Roy A. Johnson High           | Alameda |  Special Education Schools (Public)  |     0.6046013858578518    |
+-----------------------------------------+---------+--------------------------------------+---------------------------+
Truncated to displaylimit of 10.

Find the top three counties with the highest average `Percent (%) Eligible FRPM (K-12)`.

In [821]:
%%sql
-- There is no adjoining code between schools and frpm, so we use name instead.
SELECT
    s1.County AS county,
    AVG(s2."Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12
FROM schools AS s1
INNER JOIN frpm AS s2 ON s1.School = s2."School Name"
GROUP BY county
ORDER BY avg_pct_eligible_frpm_k12 DESC
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+--------+---------------------------+
| county | avg_pct_eligible_frpm_k12 |
+--------+---------------------------+
| Alpine |      0.74567364077651     |
| Glenn  |     0.7423879276896337    |
| Merced |     0.7263867976141511    |
+--------+---------------------------+

Improve the above, capturing also the school count, minimum and maximum eligibility.

In [822]:
%%sql
-- There is no adjoining code between schools and frpm, so we use name instead.
SELECT
    s1.County AS county,
    COUNT(DISTINCT s1.School) AS school_count,
    AVG(s2."Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12,
    MIN(s2."Percent (%) Eligible FRPM (K-12)") AS min_pct_eligible_frpm_k12,
    MAX(s2."Percent (%) Eligible FRPM (K-12)") AS max_pct_eligible_frpm_k12
FROM schools AS s1
INNER JOIN frpm AS s2 ON s1.School = s2."School Name"
GROUP BY county
ORDER BY avg_pct_eligible_frpm_k12 DESC
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+--------+--------------+---------------------------+---------------------------+---------------------------+
| county | school_count | avg_pct_eligible_frpm_k12 | min_pct_eligible_frpm_k12 | max_pct_eligible_frpm_k12 |
+--------+--------------+---------------------------+---------------------------+---------------------------+
| Alpine |      6       |      0.74567364077651     |    0.06464646464646465    |            1.0            |
| Glenn  |      29      |     0.7423879276896337    |    0.09611451942740286    |            1.0            |
| Merced |     105      |     0.7263867976141511    |    0.022573363431151242   |            1.0            |
+--------+--------------+---------------------------+---------------------------+---------------------------+

## Joins & Subqueries

### Inner Join

List all schools that appear in both schools and satscores. Show `School` (from schools) and `NumTstTakr`.

In [823]:
%%sql
SELECT 
    s1.School AS school,
    SUM(s2.NumTstTakr) AS total_tests
FROM schools AS s1
INNER JOIN satscores AS s2 ON s1.CDSCode = s2.cds
WHERE s1.school IS NOT NULL
GROUP BY school
ORDER BY total_tests DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------------------+-------------+
|           school           | total_tests |
+----------------------------+-------------+
|    John F. Kennedy High    |     1219    |
|       Foothill High        |     1027    |
|      Polytechnic High      |     966     |
|        Edison High         |     835     |
|       La Quinta High       |     808     |
|       Santiago High        |     802     |
|       Valencia High        |     800     |
|      California High       |     773     |
| Granada Hills Charter High |     748     |
|      Centennial High       |     705     |
+----------------------------+-------------+
Truncated to displaylimit of 10.

As the above, but show the average `AvgScrMath`, `AvgScrRead`, `AvgScrWrite` and the average of all scores for each `County`.

In [824]:
%%sql
SELECT 
    s1.County AS county,
    SUM(s2.NumTstTakr) AS total_tests,
    AVG(s2.AvgScrMath) AS avg_scr_math,
    AVG(s2.AvgScrRead) AS avg_scr_read,
    AVG(s2.AvgScrWrite) AS avg_scr_write,
    (AVG(s2.AvgScrMath) + AVG(s2.AvgScrRead) + AVG(s2.AvgScrWrite)) / 3 AS avg_scores
FROM schools AS s1
INNER JOIN satscores AS s2 ON s1.CDSCode = s2.cds
GROUP BY county
ORDER BY total_tests DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+-------------+--------------------+--------------------+--------------------+--------------------+
|     county     | total_tests |    avg_scr_math    |    avg_scr_read    |   avg_scr_write    |     avg_scores     |
+----------------+-------------+--------------------+--------------------+--------------------+--------------------+
|  Los Angeles   |    119269   | 456.4020356234097  | 450.97201017811705 | 449.21374045801525 | 452.1959287531807  |
|     Orange     |    38152    | 528.8409090909091  | 510.85227272727275 | 507.6136363636364  | 515.7689393939395  |
|   San Diego    |    36084    | 499.27966101694915 | 496.66101694915255 | 483.60169491525426 |  493.180790960452  |
|   Riverside    |    26851    | 465.4320987654321  | 463.7654320987654  | 456.2098765432099  | 461.8024691358025  |
| San Bernardino |    24386    | 468.76190476190476 | 465.0952380952381  | 456.1190476190476  | 463.3253968253968  |
|  Santa Clara   |    21380    |  548.728813559322  |  526.271186440678  | 527.0847457627119  | 534.0282485875706  |
|    Alameda     |    17635    | 497.06849315068496 | 480.5753424657534  | 481.5342465753425  | 486.3926940639269  |
|   Sacramento   |    14360    |       486.1        |       480.15       | 469.46666666666664 | 478.57222222222225 |
|  Contra Costa  |    14054    | 493.19565217391306 | 487.7608695652174  | 486.17391304347825 | 489.04347826086956 |
|     Fresno     |    11814    | 441.29411764705884 | 440.80392156862746 | 434.6470588235294  | 438.91503267973854 |
+----------------+-------------+--------------------+--------------------+--------------------+--------------------+
Truncated to displaylimit of 10.

*The above can be achieved similarly without a subquery, pick whatever is more comprehensible:*

### Left Join & Nulls

Find schools in schools that have no SAT scores. Show `CDSCode` and `School`.

In [825]:
%%sql
SELECT
    s1.CDSCode AS school_code,
    s1.School AS school_name
FROM schools AS s1
LEFT JOIN satscores AS s2 ON s1.CDSCode = s2.cds
WHERE s2.AvgScrMath IS NULL AND s2.AvgScrRead IS NULL AND s2.AvgScrWrite IS NULL;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+-----------------------------------------------+
|  school_code   |                  school_name                  |
+----------------+-----------------------------------------------+
| 01100170118489 | Aspire California College Preparatory Academy |
| 01100170123968 |    Community School for Creative Education    |
| 01100170124172 |                Yu Ming Charter                |
| 01100170125567 |            Urban Montessori Charter           |
| 01100170130302 |         Technical, Agricultural & Nat.        |
| 01100170130401 |       Alameda County Juvenile Hall/Court      |
| 01100170130419 |            Alameda County Community           |
| 01100170130427 |           Alameda County Opportunity          |
| 01100170131276 |         Berkeley Trade & Tech. College        |
| 01100170131581 |              Oakland Unity Middle             |
+----------------+-----------------------------------------------+
Truncated to displaylimit of 10.

### Sub-query in WHERE

From frpm, get schools whose `Enrollment (Ages 5-17)` exceeds the overall average enrollment across all schools.

In [826]:
%%sql
SELECT
    "School Name" AS school_name,
    "Enrollment (Ages 5-17)" AS enrollment_ages_5_17
FROM frpm
WHERE enrollment_ages_5_17 > (
    SELECT
        AVG("Enrollment (Ages 5-17)")
    FROM frpm
    WHERE "School Name" IS NOT NULL -- Filter out empty School Name's
) AND school_name IS NOT NULL
ORDER BY enrollment_ages_5_17 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+--------------------------------------+----------------------+
|             school_name              | enrollment_ages_5_17 |
+--------------------------------------+----------------------+
|             Cox Academy              |        586.0         |
|         Brookvale Elementary         |        586.0         |
|         Rosedale Elementary          |        586.0         |
|     Bollinger Canyon Elementary      |        586.0         |
|      Desert Junior-Senior High       |        586.0         |
| Endeavor College Preparatory Charter |        586.0         |
|      Langdon Avenue Elementary       |        586.0         |
|          Saticoy Elementary          |        586.0         |
|            Howard Tanner             |        586.0         |
|       James Foster Elementary        |        586.0         |
+--------------------------------------+----------------------+
Truncated to displaylimit of 10.

🚀🚀 **Advanced**: Another way to achieve the above is to use a window function and a CTE:

In [827]:
%%sql
WITH school_data AS (
    SELECT
        "School Name" AS school_name,
        "Enrollment (Ages 5-17)" AS enrollment_ages_5_17,
        AVG("Enrollment (Ages 5-17)") OVER() AS avg_enrollment_ages_5_17 -- avg_enrollment_ages_5_17 is the window function!
    FROM frpm
    WHERE "School Name" IS NOT NULL
)
SELECT
    school_name,
    enrollment_ages_5_17
FROM school_data
WHERE enrollment_ages_5_17 > avg_enrollment_ages_5_17 -- Window function is calculated here!
ORDER BY enrollment_ages_5_17 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+--------------------------------------+----------------------+
|             school_name              | enrollment_ages_5_17 |
+--------------------------------------+----------------------+
|             Cox Academy              |        586.0         |
|         Brookvale Elementary         |        586.0         |
|         Rosedale Elementary          |        586.0         |
|     Bollinger Canyon Elementary      |        586.0         |
|      Desert Junior-Senior High       |        586.0         |
| Endeavor College Preparatory Charter |        586.0         |
|      Langdon Avenue Elementary       |        586.0         |
|          Saticoy Elementary          |        586.0         |
|            Howard Tanner             |        586.0         |
|       James Foster Elementary        |        586.0         |
+--------------------------------------+----------------------+
Truncated to displaylimit of 10.

### Correlated Sub-query

For each county in frpm, show the count of schools whose `Percent (%) Eligible FRPM (K-12)` is above the county’s own average.

In [828]:
%%sql
SELECT
    s1."County Name"      AS county_name,
    COUNT(*)              AS schools_above_county_avg
FROM frpm AS s1
WHERE
    s1."County Name" IS NOT NULL
    AND s1."Percent (%) Eligible FRPM (K-12)" IS NOT NULL
    -- only keep schools whose FRPM% is above their county’s avg
    AND s1."Percent (%) Eligible FRPM (K-12)" > (
        SELECT
            AVG(s2."Percent (%) Eligible FRPM (K-12)")
        FROM frpm AS s2
        WHERE s2."County Name" = s1."County Name" AND s2."Percent (%) Eligible FRPM (K-12)" IS NOT NULL
    )
GROUP BY county_name
ORDER BY schools_above_county_avg DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+--------------------------+
|  county_name   | schools_above_county_avg |
+----------------+--------------------------+
|  Los Angeles   |           1422           |
|   San Diego    |           385            |
| San Bernardino |           336            |
|     Orange     |           307            |
|   Riverside    |           293            |
|   Sacramento   |           220            |
|     Fresno     |           219            |
|    Alameda     |           204            |
|  Santa Clara   |           200            |
|      Kern      |           167            |
+----------------+--------------------------+
Truncated to displaylimit of 10.

The above can also be achieved with a CTE and a window function.

In [829]:
%%sql
WITH school_with_avg AS (
    SELECT 
        s1."County Name" AS county_name,
        s1."School Name" AS school,
        s1."Percent (%) Eligible FRPM (K-12)" AS frpm_percent,
        AVG(s1."Percent (%) Eligible FRPM (K-12)") OVER(PARTITION BY s1."County Name") AS county_avg_frpm
    FROM frpm AS s1
    WHERE
        s1."Percent (%) Eligible FRPM (K-12)" IS NOT NULL AND s1."County Name" IS NOT NULL
)
SELECT
    county_name,
    COUNT(*) AS schools_above_county_avg
FROM school_with_avg AS s2
WHERE s2.frpm_percent > s2.county_avg_frpm
GROUP BY s2.county_name
ORDER BY schools_above_county_avg DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+--------------------------+
|  county_name   | schools_above_county_avg |
+----------------+--------------------------+
|  Los Angeles   |           1422           |
|   San Diego    |           385            |
| San Bernardino |           336            |
|     Orange     |           307            |
|   Riverside    |           293            |
|   Sacramento   |           220            |
|     Fresno     |           219            |
|    Alameda     |           204            |
|  Santa Clara   |           200            |
|      Kern      |           167            |
+----------------+--------------------------+
Truncated to displaylimit of 10.

## Window Functions & CTEs

### Window ranking

Using a window function on frpm, rank schools within each district by `FRPM Count (K-12)`. Show top 3 per district.

In [830]:
%%sql
SELECT
    "School Name" AS school_name,
    "District Name" AS district_name,
    "FRPM Count (K-12)" AS frpm_count_k12,
    RANK() OVER (PARTITION BY "District Name" ORDER BY "FRPM Count (K-12)") AS rank
FROM frpm
WHERE school_name IS NOT NULL;

Running query in 'sqlite:///cdeschools.sqlite'

+---------------------------------+---------------+----------------+------+
|           school_name           | district_name | frpm_count_k12 | rank |
+---------------------------------+---------------+----------------+------+
| Nonpublic, Nonsectarian Schools |  ABC Unified  |      2.0       |  1   |
|         District Office         |  ABC Unified  |      5.0       |  2   |
|   ABC Secondary (Alternative)   |  ABC Unified  |      50.0      |  3   |
|  Gonsalves (Joe A.) Elementary  |  ABC Unified  |     115.0      |  4   |
|    Leal (Frank C.) Elementary   |  ABC Unified  |     121.0      |  5   |
|       Cerritos Elementary       |  ABC Unified  |     127.0      |  6   |
|   Wittmann (Helen) Elementary   |  ABC Unified  |     152.0      |  7   |
|   Stowers(Cecil B.) Elementary  |  ABC Unified  |     163.0      |  8   |
|         Carmenita Middle        |  ABC Unified  |     177.0      |  9   |
|     Whitney (Gretchen) High     |  ABC Unified  |     193.0      |  10  |
+---------------------------------+---------------+----------------+------+
Truncated to displaylimit of 10.

To list only the top 3 per district, we need a slightly different strategy, which we can achieve with a CTE.

In [831]:
%%sql
WITH district_rank AS (
    SELECT
        s1."School Name" AS school_name,
        s1."District Name" AS district_name,
        s1."FRPM Count (K-12)" AS frpm_count_k12,
        RANK() OVER (PARTITION BY s1."District Name" ORDER BY s1."FRPM Count (K-12)") AS rank
    FROM frpm AS s1
    WHERE school_name IS NOT NULL
)
SELECT
    *
FROM district_rank AS s2
WHERE rank <= 3;

Running query in 'sqlite:///cdeschools.sqlite'

+---------------------------------------+--------------------------+----------------+------+
|              school_name              |      district_name       | frpm_count_k12 | rank |
+---------------------------------------+--------------------------+----------------+------+
|    Nonpublic, Nonsectarian Schools    |       ABC Unified        |      2.0       |  1   |
|            District Office            |       ABC Unified        |      5.0       |  2   |
|      ABC Secondary (Alternative)      |       ABC Unified        |      50.0      |  3   |
|    Nonpublic, Nonsectarian Schools    |   Acalanes Union High    |      None      |  1   |
| Acalanes Center for Independent Study |   Acalanes Union High    |      1.0       |  2   |
|             Miramonte High            |   Acalanes Union High    |      17.0      |  3   |
|             Bowman Charter            |     Ackerman Charter     |     150.0      |  1   |
|        SCALE Leadership Academy       | Acton-Agua Dulce Unified |      12.0      |  1   |
| Mosaica Online Academy of Los Angeles | Acton-Agua Dulce Unified |      33.0      |  2   |
|            Valley Prep 6-8            | Acton-Agua Dulce Unified |      35.0      |  3   |
+---------------------------------------+--------------------------+----------------+------+
Truncated to displaylimit of 10.

### Common Table Expression (CTE)

With a CTE named `high_frpm`, select all schools from frpm where `Percent (%) Eligible FRPM (K-12)` > 75%. Then join that CTE to schools to get their addresses.

In [832]:
%%sql
WITH high_frpm AS (
    SELECT
        s1."School Name" AS school_name,
        s1."County Name" AS county_name,
        s1."Percent (%) Eligible FRPM (K-12)" AS pct_eligible_frpm_k12,
        s1."Academic Year" AS academic_year
    FROM frpm AS s1
    WHERE s1."Percent (%) Eligible FRPM (K-12)" > 0.75
)
SELECT
    school_name,
    academic_year,
    CONCAT(Street, ', ', City, ', ', Zip, ', ', State) AS school_address,
    pct_eligible_frpm_k12
FROM high_frpm AS s2
INNER JOIN schools AS s3 ON s2.school_name = s3."School" AND s2.county_name = s3."County" -- To disambiguate schools with the same name in different counties
ORDER BY s2.pct_eligible_frpm_k12 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+------------------------------+---------------+------------------------------------------------------------------+-----------------------+
|         school_name          | academic_year |                          school_address                          | pct_eligible_frpm_k12 |
+------------------------------+---------------+------------------------------------------------------------------+-----------------------+
|       Monte Vista High       |   2014-2015   | 3230 Sweetwater Springs Boulevard, Spring Valley, 91977-6934, CA |   0.7501508750754375  |
|        Traweek Middle        |   2014-2015   |      1941 East Rowland Avenue, West Covina, 91723-0269, CA       |   0.7502944640753828  |
| Frontier High (Continuation) |   2014-2015   |       9401 South Painter Avenue, Whittier, 90605-2729, CA        |   0.7504078303425775  |
|      Harding Elementary      |   2014-2015   |          3201 Pico Avenue, Bakersfield, 93306-3531, CA           |   0.7504553734061931  |
|    Elbow Creek Elementary    |   2014-2015   |             32747 Road 138, Visalia, 93292-9381, CA              |   0.7505070993914807  |
|     Pachappa Elementary      |   2014-2015   |         6200 Riverside Avenue, Riverside, 92506-2147, CA         |   0.7506426735218509  |
|  Crozier (George W.) Middle  |   2014-2015   |        1210 West Regent Street, Inglewood, 90301-1705, CA        |   0.7507082152974505  |
|     Vicentia Elementary      |   2014-2015   |        2005 South Vicentia Avenue, Corona, 92882-4261, CA        |   0.7508305647840532  |
|   Carl B. Munck Elementary   |   2014-2015   |           11900 Campus Drive, Oakland, 94619-3104, CA            |   0.7508771929824561  |
|         Ortega High          |   2014-2015   |             21861 Grand Avenue, Wildomar, 92395, CA              |   0.7510729613733905  |
+------------------------------+---------------+------------------------------------------------------------------+-----------------------+
Truncated to displaylimit of 10.

Find the top 10 K-12 schools in overall SAT scores, which have a `Percent (%) Eligible Free (K-12)` higher than 50%.

In [833]:
%%sql
WITH selected_schools AS (
    SELECT
        s1."School Name" AS school_name,
        s1."County Name" AS county_name,
        s1."Percent (%) Eligible Free (K-12)" AS pct_eligible_free_k12,
        (s2.AvgScrMath + s2.AvgScrRead + s2.AvgScrWrite) / 3 AS overall_avg_score
    FROM frpm AS s1
    INNER JOIN satscores AS s2 ON s1."School Name" = s2.sname AND s1."County Name" = s2.cname
    WHERE s1."Percent (%) Eligible Free (K-12)" > 0.5 AND s1."School Type" = "K-12 Schools (Public)" AND (s2.AvgScrMath + s2.AvgScrRead + s2.AvgScrWrite) IS NOT NULL
)
SELECT
    *
FROM selected_schools AS s3
ORDER BY s3.overall_avg_score DESC
LIMIT 10;

Running query in 'sqlite:///cdeschools.sqlite'

+---------------------------------------------+--------------+-----------------------+-------------------+
|                 school_name                 | county_name  | pct_eligible_free_k12 | overall_avg_score |
+---------------------------------------------+--------------+-----------------------+-------------------+
|             FAME Public Charter             |   Alameda    |   0.5197792088316467  |        518        |
|             Making Waves Academy            | Contra Costa |   0.6210526315789474  |        461        |
|      Options for Youth-Burbank Charter      | Los Angeles  |   0.6362790697674419  |        456        |
|     Vaughn Next Century Learning Center     | Los Angeles  |   0.8641703377386197  |        449        |
|        Options for Youth San Gabriel        | Los Angeles  |   0.6097087378640776  |        447        |
|            Foshay Learning Center           | Los Angeles  |   0.8169596690796277  |        444        |
|  Opportunities for Learning - Baldwin Park  | Los Angeles  |   0.6185641769398115  |        435        |
|          Options for Youth-San Juan         |  Sacramento  |   0.5850515463917526  |        434        |
|         Rancho Dominguez Preparatory        | Los Angeles  |   0.5704035874439461  |        416        |
| Aspire Alexander Twilight Secondary Academy |  Sacramento  |   0.6602739726027397  |        413        |
+---------------------------------------------+--------------+-----------------------+-------------------+
Truncated to displaylimit of 10.

Show the same as above, but the top school per county.

In [834]:
%%sql
WITH selected_schools AS (
    -- First, select and calculate scores for all relevant schools
    SELECT
        s1."School Name" AS school_name,
        s1."County Name" AS county_name,
        s1."Percent (%) Eligible Free (K-12)" AS pct_eligible_free_k12,
        (s2.AvgScrMath + s2.AvgScrRead + s2.AvgScrWrite) / 3 AS overall_avg_score
    FROM frpm AS s1
    INNER JOIN satscores AS s2 ON s1."School Name" = s2.sname AND s1."County Name" = s2.cname
    WHERE s1."Percent (%) Eligible Free (K-12)" > 0.5 AND s1."School Type" = "K-12 Schools (Public)"
      AND (s2.AvgScrMath + s2.AvgScrRead + s2.AvgScrWrite) IS NOT NULL
),
ranked_schools AS (
    -- Next, rank each school within its county by score
    SELECT
        s3.school_name,
        s3.county_name,
        s3.pct_eligible_free_k12,
        s3.overall_avg_score,
        ROW_NUMBER() OVER(PARTITION BY s3.county_name ORDER BY s3.overall_avg_score DESC) AS county_rank
    FROM selected_schools AS s3
)
-- Finally, select only the top-ranked school from each county
SELECT
    s4.school_name,
    s4.county_name,
    s4.pct_eligible_free_k12,
    s4.overall_avg_score
FROM ranked_schools AS s4
WHERE s4.county_rank = 1
ORDER BY s4.overall_avg_score DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------------------+--------------+-----------------------+-------------------+
|            school_name            | county_name  | pct_eligible_free_k12 | overall_avg_score |
+-----------------------------------+--------------+-----------------------+-------------------+
|        FAME Public Charter        |   Alameda    |   0.5197792088316467  |        518        |
|        Making Waves Academy       | Contra Costa |   0.6210526315789474  |        461        |
| Options for Youth-Burbank Charter | Los Angeles  |   0.6362790697674419  |        456        |
|     Options for Youth-San Juan    |  Sacramento  |   0.5850515463917526  |        434        |
|          Roseland Charter         |    Sonoma    |   0.7537379067722075  |        407        |
+-----------------------------------+--------------+-----------------------+-------------------+

## Advanced SQL Features

### Case expressions

In frpm, add a computed column that buckets % Eligible FRPM (K-12) into:

- “Low” (< 25%)
- “Medium” (25–75%)
- “High” (> 75%)

Following this, compute the average K-12 enrolment number for each of the above.

In [835]:
%%sql
SELECT
    AVG(s1."Enrollment (K-12)") AS avg_enrollment_k12,
    CASE
        WHEN s1."Percent (%) Eligible Free (K-12)" < 0.25 THEN "Low"
        WHEN s1."Percent (%) Eligible Free (K-12)" >= 0.25 AND s1."Percent (%) Eligible Free (K-12)" <= 0.75 THEN "Medium"
        WHEN s1."Percent (%) Eligible Free (K-12)" > 0.75 THEN "High"
    END AS pct_eligible_free_k12_bucket
FROM frpm AS s1
WHERE s1."Percent (%) Eligible Free (K-12)" IS NOT NULL
GROUP BY pct_eligible_free_k12_bucket
ORDER BY avg_enrollment_k12;

Running query in 'sqlite:///cdeschools.sqlite'

+--------------------+------------------------------+
| avg_enrollment_k12 | pct_eligible_free_k12_bucket |
+--------------------+------------------------------+
| 548.3561232156273  |             High             |
| 690.9123211813567  |             Low              |
| 1770.5196425246695 |            Medium            |
+--------------------+------------------------------+

### Date functions

From schools, find all charter schools (`Charter` = 1) that opened after January 1, 2018. Show `School` and `OpenDate`.

In [836]:
%%sql
SELECT
    s1."School" AS school_name,
    s1."OpenDate" AS open_date
FROM schools AS s1
WHERE s1."Charter" IS 1 AND s1."OpenDate" > '2006-01-01'
ORDER BY open_date ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+------------------------------------------------------+------------+
|                     school_name                      | open_date  |
+------------------------------------------------------+------------+
|             American Indian Public High              | 2006-06-22 |
|         Los Angeles Education Corps Charter          | 2006-07-10 |
|                  Gold Rush Charter                   | 2006-07-24 |
|                 Pathways to College                  | 2006-08-07 |
|                    Acorns to Oaks                    | 2006-08-07 |
|            Natomas Pacific Pathways Prep             | 2006-08-08 |
|                   Pittman Charter                    | 2006-08-14 |
|            Aspire Summit Charter Academy             | 2006-08-14 |
| California Montessori Project-Shingle Springs Campus | 2006-08-16 |
|   Antelope Valley Desert Montessori Schools, Inc.    | 2006-08-16 |
+------------------------------------------------------+------------+
Truncated to displaylimit of 10.

Find the oldest charter school in each county.

In [837]:
%%sql
SELECT
    s1."School" AS school_name,
    s1."County" AS county_name,
    MIN(s1."OpenDate") AS open_date
FROM schools AS s1
GROUP BY county_name;

Running query in 'sqlite:///cdeschools.sqlite'

+---------------------------------+--------------+------------+
|           school_name           | county_name  | open_date  |
+---------------------------------+--------------+------------+
|          American High          |   Alameda    | 1972-07-01 |
| Alpine County Special Education |    Alpine    | 1980-07-01 |
|         County Community        |    Amador    | 1980-07-01 |
|        Concow Elementary        |    Butte     | 1940-07-01 |
|     Hazel Fischer Elementary    |  Calaveras   | 1973-07-01 |
|   James M. Burchfield Primary   |    Colusa    | 1955-07-01 |
|       Knightsen Elementary      | Contra Costa | 1867-07-01 |
|       Juvenile Hall/Bar-O       |  Del Norte   | 1980-07-01 |
|    Indian Diggings Elementary   |  El Dorado   | 1856-07-01 |
|         Clay Elementary         |    Fresno    | 1880-07-01 |
+---------------------------------+--------------+------------+
Truncated to displaylimit of 10.

Now find both the earliest and the most recent schools in each county.

In [838]:
%%sql
-- This is a SELECT with a JOIN on subqueries with the general form:
--
-- SELECT <columns>
--   FROM ( … ) AS s1
--   JOIN ( … ) AS s2
--     ON s1.key = s2.key
--   [WHERE …]          -- Filters before the aggregation
--   [GROUP BY …]       -- Groups them
--   [HAVING …]         -- Filters the grouped results
--   [ORDER BY …]       -- Sorts the final set
--   [LIMIT …]          -- Trim the result
--   [OFFSET …];

SELECT
  earliest.county_name,
  earliest.school_name  AS first_open_school,
  earliest.open_date    AS first_open_date,
  latest.school_name    AS last_open_school,
  latest.open_date      AS last_open_date
FROM
  (
    SELECT
      County        AS county_name,
      School        AS school_name,
      MIN(OpenDate) AS open_date
    FROM schools
    GROUP BY County
  ) AS earliest -- This subquery is the left side of the JOIN
  INNER JOIN
  (
    SELECT
      County       AS county_name,
      School       AS school_name,
      MAX(OpenDate) AS open_date
    FROM schools
    GROUP BY County
  ) AS latest -- This subquery is the right side of the JOIN
    ON earliest.county_name = latest.county_name;

Running query in 'sqlite:///cdeschools.sqlite'

+--------------+---------------------------------+-----------------+-------------------------------------------------+----------------+
| county_name  |        first_open_school        | first_open_date |                 last_open_school                | last_open_date |
+--------------+---------------------------------+-----------------+-------------------------------------------------+----------------+
|   Alameda    |          American High          |    1972-07-01   | Lodestar: A Lighthouse Community Charter Public |   2016-08-15   |
|    Alpine    | Alpine County Special Education |    1980-07-01   |                  Woodfords High                 |   2000-08-23   |
|    Amador    |         County Community        |    1980-07-01   |                Shenandoah Valley                |   2014-08-11   |
|    Butte     |        Concow Elementary        |    1940-07-01   |             Come Back Butte Charter             |   2016-08-17   |
|  Calaveras   |     Hazel Fischer Elementary    |    1973-07-01   |      Structured/Special Day Class Preschool     |   2016-09-01   |
|    Colusa    |   James M. Burchfield Primary   |    1955-07-01   |                  Maxwell Middle                 |   2015-08-19   |
| Contra Costa |       Knightsen Elementary      |    1867-07-01   |              Bella Vista Elementary             |   2016-08-15   |
|  Del Norte   |       Juvenile Hall/Bar-O       |    1980-07-01   |             Uncharted Shores Academy            |   2007-09-10   |
|  El Dorado   |    Indian Diggings Elementary   |    1856-07-01   |              Rising Sun Montessori              |   2014-08-18   |
|    Fresno    |         Clay Elementary         |    1880-07-01   |           Virginia R. Boris Elementary          |   2016-08-15   |
+--------------+---------------------------------+-----------------+-------------------------------------------------+----------------+
Truncated to displaylimit of 10.

Find the average age of schools in each county.

In [839]:
%%sql
SELECT
    "County" AS county_name,
    CAST(AVG((julianday('now') - julianday(OpenDate)) / 365.25) AS INTEGER) AS avg_years_since_open -- This is dependent on the database engine you are using
FROM schools
GROUP BY county_name

Running query in 'sqlite:///cdeschools.sqlite'

+--------------+----------------------+
| county_name  | avg_years_since_open |
+--------------+----------------------+
|   Alameda    |          37          |
|    Alpine    |          38          |
|    Amador    |          42          |
|    Butte     |          35          |
|  Calaveras   |          37          |
|    Colusa    |          38          |
| Contra Costa |          39          |
|  Del Norte   |          36          |
|  El Dorado   |          37          |
|    Fresno    |          38          |
+--------------+----------------------+
Truncated to displaylimit of 10.

### Three way JOINs

Join schools, frpm and satscores to produce a report of every public K-12 school’s name, city/zip, % Eligible FRPM (K-12) and its overall SAT average ( (AvgScrMath+AvgScrRead+AvgScrWrite)/3 ). Filter out any rows where one of the three tables has no match.

In [840]:
%%sql
SELECT
    s1.School AS school_name,
    s1.City AS city,
    s1.Zip AS zip,
    s3."Percent (%) Eligible FRPM (K-12)" AS pct_eligible_frpm_k12,
    (s2.AvgScrMath + s2.AvgScrRead + s2.AvgScrWrite) / 3 AS avg_scores
FROM schools AS s1
INNER JOIN satscores AS s2 ON s1.School = s2.sname AND s1.County = s2.cname -- We need the county to disambiguate schools with the same name
INNER JOIN frpm AS s3 ON s1.School = s3."School Name" AND s1.County = s3."County Name"
WHERE avg_scores IS NOT NULL
ORDER BY avg_scores DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------------------+------------+------------+-----------------------+------------+
|        school_name         |    city    |    zip     | pct_eligible_frpm_k12 | avg_scores |
+----------------------------+------------+------------+-----------------------+------------+
|   Mission San Jose High    |  Fremont   | 94539-4799 |  0.033818694222639736 |    674     |
|       Lynbrook High        |  San Jose  | 95129-4172 |  0.04803022126281705  |    667     |
|  Whitney (Gretchen) High   |  Cerritos  | 90703-1244 |  0.18940137389597644  |    662     |
|      Monta Vista High      | Cupertino  | 95014-4055 |  0.022486211285532458 |    662     |
|     Henry M. Gunn High     | Palo Alto  | 94306-3827 |  0.07380073800738007  |    658     |
|       Saratoga High        |  Saratoga  | 95070-4950 |  0.007982583454281567 |    654     |
|       Oxford Academy       |  Cypress   | 90630-2921 |   0.3793969849246231  |    643     |
|       Palo Alto High       | Palo Alto  | 94301-2321 |  0.08183221821924859  |    636     |
|      University High       |   Irvine   | 92612-3298 |   0.1515631183221211  |    635     |
| Pacific Collegiate Charter | Santa Cruz | 95060-6225 |  0.04133858267716536  |    635     |
+----------------------------+------------+------------+-----------------------+------------+
Truncated to displaylimit of 10.

### Derived table Subquery + JOIN

First build an inline view that, for each district in frpm, computes the district’s average % Eligible FRPM (K-12). Then join that back to frpm to list only the schools whose own FRPM % exceeds their district’s average. No window functions, just a subquery in your FROM clause.

In [841]:
%%sql
SELECT
    left."School Name" AS school_name,
    left."District Name" AS district_name,
    left."Percent (%) Eligible FRPM (K-12)" AS pct_eligible_frpm_k12,
    right.avg_pct_eligible_frpm_k12
FROM frpm AS left
INNER JOIN (
    SELECT
        inline."District Name" AS district_name,
        AVG(inline."Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12
    FROM frpm AS inline
    GROUP BY inline."District Name"
) AS right
    ON left."District Name" = right.district_name
WHERE pct_eligible_frpm_k12 > avg_pct_eligible_frpm_k12
ORDER BY pct_eligible_frpm_k12 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------------+-------------------------------+-----------------------+---------------------------+
|         school_name         |         district_name         | pct_eligible_frpm_k12 | avg_pct_eligible_frpm_k12 |
+-----------------------------+-------------------------------+-----------------------+---------------------------+
|   Wagner Ranch Elementary   |    Orinda Union Elementary    |  0.005076142131979695 |   0.0031863727082756753   |
|        Del Mar Middle       |     Reed Union Elementary     |  0.011976047904191617 |     0.0108961288043801    |
|     Bel Aire Elementary     |     Reed Union Elementary     |  0.012237762237762238 |     0.0108961288043801    |
|  Meadows Avenue Elementary  |    Manhattan Beach Unified    |  0.015730337078651686 |    0.01281003753429801    |
|    Manhattan Beach Middle   |    Manhattan Beach Unified    |  0.017105263157894738 |    0.01281003753429801    |
| Joaquin Moraga Intermediate |       Moraga Elementary       |  0.019005847953216373 |    0.015704834141312414   |
|    Los Perales Elementary   |       Moraga Elementary       |  0.019337016574585635 |    0.015704834141312414   |
|     Foothill Elementary     |   Saratoga Union Elementary   |  0.021052631578947368 |    0.014691454884075611   |
|  Donald L. Rheem Elementary |       Moraga Elementary       |  0.02195121951219512  |    0.015704834141312414   |
|  Hermosa Valley Elementary  | Hermosa Beach City Elementary |  0.028254288597376387 |    0.022374566979100563   |
+-----------------------------+-------------------------------+-----------------------+---------------------------+
Truncated to displaylimit of 10.