# SQL Practice

This is a quick notebook with exercises for anyone wanting to practice their SQL. It uses the [California School SAT Performance](http://2016.padjo.org/tutorials/sqlite-data-starterpacks/#toc-california-school-sat-performance-and-poverty-data) dataset, which gives a good enough set of data to use many SQL features.

We use SQLite specifically, which lacks a few SQL language features - you can adapt it to your own database if you like.

It also requires you to install `jupysql` into your Python environment (`conda install jupysql` if using Conda).

## Download the Dataset

In [84]:
![ -f "cdeschools.sqlite" ] || curl http://2016.padjo.org/files/data/starterpack/cde-schools/cdeschools.sqlite --output cdeschools.sqlite

## Load `jupysql` and the Dataset

In [85]:
%load_ext sql

%sql sqlite:///cdeschools.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Show Tables Available, and a Sample for each Table

In [86]:
%%sql
SELECT name 
FROM sqlite_master 
WHERE type='table'
ORDER BY name;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------+
|    name   |
+-----------+
|    frpm   |
| satscores |
|  schools  |
+-----------+

In [87]:
%%sql
SELECT *
FROM frpm
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+
| Academic Year | County Code | District Code | School Code | County Name |           District Name            |                  School Name                  |          District Type           |      School Type      | Educational Option Type | NSLP Provision Status | Charter School (Y/N) | Charter School Number | Charter Funding Type | IRC | Low Grade | High Grade | Enrollment (K-12) | Free Meal Count (K-12) | Percent (%) Eligible Free (K-12) | FRPM Count (K-12) | Percent (%) Eligible FRPM (K-12) | Enrollment (Ages 5-17) | Free Meal Count (Ages 5-17) | Percent (%) Eligible Free (Ages 5-17) | FRPM Count (Ages 5-17) | Percent (%) Eligible FRPM (Ages 5-17) | 2013-14 CALPADS Fall 1 Certification Status |
+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+
|   2014-2015   |      01     |     10017     |   0109835   |   Alameda   | Alameda County Office of Education |              FAME Public Charter              | County Office of Education (COE) | K-12 Schools (Public) |       Traditional       |          None         |          1           |          0728         |   Directly funded    |  1  |     K     |     12     |       1087.0      |         565.0          |        0.5197792088316467        |       715.0       |        0.6577736890524379        |         1070.0         |            553.0            |           0.516822429906542           |         702.0          |           0.6560747663551402          |                      1                      |
|   2014-2015   |      01     |     10017     |   0112607   |   Alameda   | Alameda County Office of Education |     Envision Academy for Arts & Technology    | County Office of Education (COE) | High Schools (Public) |       Traditional       |          None         |          1           |          0811         |   Directly funded    |  1  |     9     |     12     |       395.0       |         186.0          |        0.4708860759493671        |       186.0       |        0.4708860759493671        |         376.0          |            182.0            |          0.48404255319148937          |         182.0          |          0.48404255319148937          |                      1                      |
|   2014-2015   |      01     |     10017     |   0118489   |   Alameda   | Alameda County Office of Education | Aspire California College Preparatory Academy | County Office of Education (COE) | High Schools (Public) |       Traditional       |          None         |          1           |          1049         |   Directly funded    |  1  |     9     |     12     |       244.0       |         134.0          |        0.5491803278688525        |       175.0       |        0.7172131147540983        |         230.0          |            128.0            |           0.5565217391304348          |         168.0          |           0.7304347826086957          |                      1                      |
+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+

In [88]:
%%sql
SELECT *
FROM satscores
LIMIT 5;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+-------+----------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+
|      cds       | rtype |                 sname                  |               dname                |  cname  | enroll12 | NumTstTakr | AvgScrRead | AvgScrMath | AvgScrWrite | NumGE1500 | PctGE1500 |
+----------------+-------+----------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+
| 00000000000000 |   X   |                  None                  |                None                |   None  |  496901  |   210706   |    489     |    500     |     484     |   93334   |    44.3   |
| 01000000000000 |   C   |                  None                  |                None                | Alameda |  16978   |    8855    |    516     |    536     |     517     |    4900   |   55.34   |
| 01100170000000 |   D   |                  None                  | Alameda County Office of Education | Alameda |   398    |     88     |    418     |    418     |     417     |     14    |   15.91   |
| 01100170109835 |   S   |          FAME Public Charter           | Alameda County Office of Education | Alameda |    62    |     17     |    503     |    546     |     505     |     9     |   52.94   |
| 01100170112607 |   S   | Envision Academy for Arts & Technology | Alameda County Office of Education | Alameda |    75    |     71     |    397     |    387     |     395     |     5     |    7.04   |
+----------------+-------+----------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+

In [89]:
%%sql
SELECT *
FROM schools
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+----------+------------+------------+---------+------------------------------------+----------------------------------------+----------------------------------+-------------------------------+---------+------------+-------+----------------------------------+-------------------------------+----------+------------+-----------+----------------+------+--------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------+-----------+-------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+-----------+---------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+
|    CDSCode     | NCESDist | NCESSchool | StatusType |  County |              District              |                 School                 |              Street              |           StreetAbr           |   City  |    Zip     | State |            MailStreet            |           MailStrAbr          | MailCity |  MailZip   | MailState |     Phone      | Ext  |         Website          |  OpenDate  | ClosedDate | Charter | CharterNum |   FundingType   | DOC |             DOCType              | SOC  |        SOCType        | EdOpsCode |  EdOpsName  | EILCode  |           EILName           | GSoffered | GSserved | Virtual | Magnet |  Latitude | Longitude  | AdmFName1 | AdmLName1 |         AdmEmail1         | AdmFName2 | AdmLName2 | AdmEmail2 | AdmFName3 | AdmLName3 | AdmEmail3 | LastUpdate |
+----------------+----------+------------+------------+---------+------------------------------------+----------------------------------------+----------------------------------+-------------------------------+---------+------------+-------+----------------------------------+-------------------------------+----------+------------+-----------+----------------+------+--------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------+-----------+-------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+-----------+---------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+
| 01100170000000 | 0691051  |    None    |   Active   | Alameda | Alameda County Office of Education |                  None                  |      313 West Winton Avenue      |      313 West Winton Ave.     | Hayward | 94544-1136 |   CA  |      313 West Winton Avenue      |      313 West Winton Ave.     | Hayward  | 94544-1136 |     CA    | (510) 887-0152 | None |       www.acoe.org       |    None    |    None    |   None  |    None    |       None      |  00 | County Office of Education (COE) | None |          None         |    None   |     None    |   None   |             None            |    None   |   None   |   None  |  None  | 37.658212 | -122.09713 |  L Karen  |   Monroe  |     lkmonroe@acoe.org     |    None   |    None   |    None   |    None   |    None   |    None   | 2015-06-23 |
| 01100170109835 | 0691051  |   10546    |   Closed   | Alameda | Alameda County Office of Education |          FAME Public Charter           | 39899 Balentine Drive, Suite 335 | 39899 Balentine Dr., Ste. 335 |  Newark | 94560-5359 |   CA  | 39899 Balentine Drive, Suite 335 | 39899 Balentine Dr., Ste. 335 |  Newark  | 94560-5359 |     CA    |      None      | None |           None           | 2005-08-29 | 2015-07-31 |    1    |    0728    | Directly funded |  00 | County Office of Education (COE) |  65  | K-12 Schools (Public) |    TRAD   | Traditional | ELEMHIGH | Elementary-High Combination |    K-12   |   K-12   |    P    |   0    | 37.521436 | -121.99391 |    None   |    None   |            None           |    None   |    None   |    None   |    None   |    None   |    None   | 2015-09-01 |
| 01100170112607 | 0691051  |   10947    |   Active   | Alameda | Alameda County Office of Education | Envision Academy for Arts & Technology |       1515 Webster Street        |        1515 Webster St.       | Oakland | 94612-3355 |   CA  |       1515 Webster Street        |        1515 Webster St.       | Oakland  |   94612    |     CA    | (510) 596-8901 | None | www.envisionacademy.org/ | 2006-08-28 |    None    |    1    |    0811    | Directly funded |  00 | County Office of Education (COE) |  66  | High Schools (Public) |    TRAD   | Traditional |    HS    |         High School         |    9-12   |   9-12   |    N    |   0    |  37.80452 | -122.26815 |   Laura   |   Robell  | laura@envisionacademy.org |    None   |    None   |    None   |    None   |    None   |    None   | 2015-06-18 |
+----------------+----------+------------+------------+---------+------------------------------------+----------------------------------------+----------------------------------+-------------------------------+---------+------------+-------+----------------------------------+-------------------------------+----------+------------+-----------+----------------+------+--------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------+-----------+-------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+-----------+---------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+

## 1. Basic Queries

### Project Columns

Retrieve the `School Name`, `County Name` and `Enrollment (K-12)` from frpm.

In [90]:
%%sql
SELECT
    "School Name" AS school_name,
    "County Name" AS county_name,
    "Enrollment (K-12)" AS enrolment_k12
FROM frpm
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------------------------------+-------------+---------------+
|                  school_name                  | county_name | enrolment_k12 |
+-----------------------------------------------+-------------+---------------+
|              FAME Public Charter              |   Alameda   |     1087.0    |
|     Envision Academy for Arts & Technology    |   Alameda   |     395.0     |
| Aspire California College Preparatory Academy |   Alameda   |     244.0     |
+-----------------------------------------------+-------------+---------------+

### Simple Filtering

List all schools in the “Los Angeles” county (from schools) that are open.

In [91]:
%%sql
SELECT
    "School" AS school_name,
    "County" AS county_name,
    OpenDate AS open_date
FROM schools
WHERE StatusType IS NOT "Closed" AND school_name IS NOT NULL AND county_name IS "Los Angeles";

Running query in 'sqlite:///cdeschools.sqlite'

+---------------------------------------------+-------------+------------+
|                 school_name                 | county_name | open_date  |
+---------------------------------------------+-------------+------------+
|            Jardin de la Infancia            | Los Angeles | 2004-09-01 |
|      Aspire Antonio Maria Lugo Academy      | Los Angeles | 2005-09-06 |
|    Los Angeles International Charter High   | Los Angeles | 2005-09-06 |
| Aspire Ollin University Preparatory Academy | Los Angeles | 2006-09-11 |
|         Environmental Charter Middle        | Los Angeles | 2010-08-31 |
|               Nidorf, Barry J.              | Los Angeles | 2010-07-01 |
|          Los Padrinos Juvenile Hall         | Los Angeles | 2010-07-01 |
|            Central Juvenile Hall            | Los Angeles | 2010-07-01 |
|             Kirby, Dorothy Camp             | Los Angeles | 2010-07-01 |
|            Afflerbaugh-Paige Camp           | Los Angeles | 2010-07-01 |
+---------------------------------------------+-------------+------------+
Truncated to displaylimit of 10.

### Sorting and Filtering

From satscores, find the top 5 schools by `AvgScrMath`, showing `sname`, `AvgScrRead`, `AvgScrMath`.

In [92]:
%%sql
SELECT
    sname AS school_name,
    AvgScrMath AS avg_scr_math,
    AvgScrRead AS avg_scr_read
FROM satscores
ORDER BY avg_scr_math DESC
LIMIT 5;

Running query in 'sqlite:///cdeschools.sqlite'

+-------------------------+--------------+--------------+
|       school_name       | avg_scr_math | avg_scr_read |
+-------------------------+--------------+--------------+
|  Mission San Jose High  |     699      |     653      |
|      Lynbrook High      |     698      |     639      |
|     Monta Vista High    |     691      |     638      |
| Whitney (Gretchen) High |     687      |     639      |
|    Henry M. Gunn High   |     686      |     642      |
+-------------------------+--------------+--------------+

### Distinct Values

Get all distinct `FundingType` values from schools.

In [93]:
%%sql
SELECT
    DISTINCT(FundingType) AS funding_type,
    COUNT(*) AS number_of_schools
FROM schools
GROUP BY funding_type;

Running query in 'sqlite:///cdeschools.sqlite'

+-------------------------+-------------------+
|       funding_type      | number_of_schools |
+-------------------------+-------------------+
|           None          |       16044       |
|     Directly funded     |        1176       |
|      Locally funded     |        460        |
| Not in CS funding model |         6         |
+-------------------------+-------------------+

## Aggregations and Groupings

### Basic Aggregates

For each district in frpm (`District Name`), compute the total `Enrollment (K-12)` and average `Percent (%) Eligible FRPM (K-12)`.

In [94]:
%%sql
SELECT 
    "District Name" AS district_name,
    SUM("Enrollment (K-12)") AS total_enrolment_k12,
    AVG("Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12
FROM frpm
GROUP BY district_name
ORDER BY total_enrolment_k12 DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------+---------------------+---------------------------+
|     district_name     | total_enrolment_k12 | avg_pct_eligible_frpm_k12 |
+-----------------------+---------------------+---------------------------+
|          None         |      6236439.0      |     0.5861716918901957    |
|  Los Angeles Unified  |       646683.0      |     0.7661354707053055    |
|   San Diego Unified   |       129794.0      |     0.6341436895240766    |
|   Long Beach Unified  |       79709.0       |     0.6499238451630597    |
|     Fresno Unified    |       73543.0       |     0.8505455348746777    |
|   Elk Grove Unified   |       62888.0       |     0.5605733170202977    |
| San Francisco Unified |       58414.0       |     0.6422081930672513    |
|   Santa Ana Unified   |       56815.0       |     0.8565427846367221    |
|   Capistrano Unified  |       54036.0       |    0.24393433223604294    |
|  Corona-Norco Unified |       53739.0       |     0.4835829509222873    |
+-----------------------+---------------------+---------------------------+
Truncated to displaylimit of 10.

### Filtering Groups

Identify districts with more than 10,000 total enrollment in frpm. Show `District Name` and total enrollment.

In [95]:
%%sql
SELECT 
    "District Name" AS district_name,
    SUM("Enrollment (K-12)") AS total_enrolment_k12
FROM frpm
GROUP BY district_name
HAVING total_enrolment_k12 > 10000
ORDER BY total_enrolment_k12 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------------------+---------------------+
|       district_name        | total_enrolment_k12 |
+----------------------------+---------------------+
|     Merced Union High      |       10039.0       |
|   Woodland Joint Unified   |       10055.0       |
|       Lompoc Unified       |       10076.0       |
|       Bonita Unified       |       10146.0       |
| Roseville Joint Union High |       10223.0       |
|     Los Banos Unified      |       10260.0       |
|      Milpitas Unified      |       10281.0       |
|    Adelanto Elementary     |       10378.0       |
|      Berkeley Unified      |       10442.0       |
|     Perris Union High      |       10510.0       |
+----------------------------+---------------------+
Truncated to displaylimit of 10.

### Aggregate on a Join

Join schools and frpm on the `cds` code, then for each school type (`School Type`) compute average `Percent (%) Eligible FRPM (K-12)`.

In [96]:
%%sql
-- There is no adjoining code between schools and frpm, so we use name instead.
SELECT
    schools.School AS school_name,
    schools.County AS county,
    frpm."School Type" AS school_type,
    AVG(frpm."Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12
FROM schools
INNER JOIN frpm ON schools.School = frpm."School Name"
GROUP BY school_type
ORDER BY avg_pct_eligible_frpm_k12 DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------------------------------+---------+--------------------------------------+---------------------------+
|               school_name               |  county |             school_type              | avg_pct_eligible_frpm_k12 |
+-----------------------------------------+---------+--------------------------------------+---------------------------+
|    Pine Grove Youth Conservation Camp   |  Amador |      Youth Authority Facilities      |            1.0            |
|    Alameda County Juvenile Hall/Court   | Alameda |        Juvenile Court Schools        |     0.8431207533324713    |
|              Community Day              |  Fresno |    District Community Day Schools    |     0.8083415487649598    |
|    Independent Study, Sojourner Truth   | Alameda |         Opportunity Schools          |     0.7861783973986869    |
|         Alameda County Community        | Alameda |           County Community           |     0.7712099176268455    |
|     California School for the Blind     | Alameda |        State Special Schools         |     0.7652792091301195    |
|        Island High (Continuation)       | Alameda |      Continuation High Schools       |     0.6813267525545001    |
| Community School for Creative Education | Alameda |     Elementary Schools (Public)      |     0.6551185234523391    |
|          The Academy of Alameda         | Alameda | Intermediate/Middle Schools (Public) |     0.6212738526114561    |
|           Roy A. Johnson High           | Alameda |  Special Education Schools (Public)  |     0.6046013858578518    |
+-----------------------------------------+---------+--------------------------------------+---------------------------+
Truncated to displaylimit of 10.

Find the top three counties with the highest average `Percent (%) Eligible FRPM (K-12)`.

In [97]:
%%sql
-- There is no adjoining code between schools and frpm, so we use name instead.
SELECT
    schools.County AS county,
    AVG(frpm."Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12
FROM schools
INNER JOIN frpm ON schools.School = frpm."School Name"
GROUP BY county
ORDER BY avg_pct_eligible_frpm_k12 DESC
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+--------+---------------------------+
| county | avg_pct_eligible_frpm_k12 |
+--------+---------------------------+
| Alpine |      0.74567364077651     |
| Glenn  |     0.7423879276896337    |
| Merced |     0.7263867976141511    |
+--------+---------------------------+

Improve the above, capturing also the school count, minimum and maximum eligibility.

In [98]:
%%sql
-- There is no adjoining code between schools and frpm, so we use name instead.
SELECT
    schools.County AS county,
    COUNT(DISTINCT schools.School) AS school_count,
    AVG(frpm."Percent (%) Eligible FRPM (K-12)") AS avg_pct_eligible_frpm_k12,
    MIN(frpm."Percent (%) Eligible FRPM (K-12)") AS min_pct_eligible_frpm_k12,
    MAX(frpm."Percent (%) Eligible FRPM (K-12)") AS max_pct_eligible_frpm_k12
FROM schools
INNER JOIN frpm ON schools.School = frpm."School Name"
GROUP BY county
ORDER BY avg_pct_eligible_frpm_k12 DESC
LIMIT 3;

Running query in 'sqlite:///cdeschools.sqlite'

+--------+--------------+---------------------------+---------------------------+---------------------------+
| county | school_count | avg_pct_eligible_frpm_k12 | min_pct_eligible_frpm_k12 | max_pct_eligible_frpm_k12 |
+--------+--------------+---------------------------+---------------------------+---------------------------+
| Alpine |      6       |      0.74567364077651     |    0.06464646464646465    |            1.0            |
| Glenn  |      29      |     0.7423879276896337    |    0.09611451942740286    |            1.0            |
| Merced |     105      |     0.7263867976141511    |    0.022573363431151242   |            1.0            |
+--------+--------------+---------------------------+---------------------------+---------------------------+

## Joins & Subqueries

### Inner Join

List all schools that appear in both schools and satscores. Show `School` (from schools) and `NumTstTakr`.

In [99]:
%%sql
SELECT 
    schools.School AS school,
    SUM(satscores.NumTstTakr) AS total_tests
FROM schools
INNER JOIN satscores ON schools.CDSCode = satscores.cds
GROUP BY school
ORDER BY total_tests DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------------------+-------------+
|           school           | total_tests |
+----------------------------+-------------+
|            None            |    210074   |
|    John F. Kennedy High    |     1219    |
|       Foothill High        |     1027    |
|      Polytechnic High      |     966     |
|        Edison High         |     835     |
|       La Quinta High       |     808     |
|       Santiago High        |     802     |
|       Valencia High        |     800     |
|      California High       |     773     |
| Granada Hills Charter High |     748     |
+----------------------------+-------------+
Truncated to displaylimit of 10.

As the above, but show the average `AvgScrMath`, `AvgScrRead`, `AvgScrWrite` and the average of all scores for each `County`.

In [100]:
%%sql
WITH T AS (
    SELECT 
        schools.County AS county,
        SUM(satscores.NumTstTakr) AS total_tests,
        AVG(satscores.AvgScrMath) AS avg_scr_math,
        AVG(satscores.AvgScrRead) AS avg_scr_read,
        AVG(satscores.AvgScrWrite) AS avg_scr_write
    FROM schools
    INNER JOIN satscores ON schools.CDSCode = satscores.cds
    GROUP BY county
)
SELECT *, (avg_scr_math + avg_scr_read + avg_scr_write) / 3 AS avg_scores
FROM T
ORDER BY avg_scores DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------+-------------+-------------------+-------------------+-------------------+-------------------+
|      county     | total_tests |    avg_scr_math   |    avg_scr_read   |   avg_scr_write   |     avg_scores    |
+-----------------+-------------+-------------------+-------------------+-------------------+-------------------+
|      Marin      |     2466    | 538.3846153846154 | 534.7692307692307 |       533.0       | 535.3846153846154 |
|      Nevada     |     558     | 533.5714285714286 |       547.0       | 525.4285714285714 | 535.3333333333334 |
|   Santa Clara   |    21380    |  548.728813559322 |  526.271186440678 | 527.0847457627119 | 534.0282485875706 |
|     Mariposa    |      78     |       550.0       |       534.0       |       513.0       | 532.3333333333334 |
|    El Dorado    |     1876    | 537.7272727272727 | 536.4545454545455 | 515.5454545454545 | 529.9090909090909 |
|    Santa Cruz   |     2368    | 524.2352941176471 | 539.2352941176471 | 524.1176470588235 | 529.1960784313725 |
|    San Mateo    |     6850    |       539.44      |       520.28      |       517.76      | 525.8266666666667 |
| San Luis Obispo |     2140    |       529.0       | 533.7857142857143 | 511.7857142857143 | 524.8571428571428 |
|      Placer     |     5702    | 528.1739130434783 | 528.5652173913044 | 513.2608695652174 | 523.3333333333334 |
|    Calaveras    |     250     |       526.5       |       530.0       |       513.0       | 523.1666666666666 |
+-----------------+-------------+-------------------+-------------------+-------------------+-------------------+
Truncated to displaylimit of 10.

*The above can be achieved similarly without a subquery, pick whatever is more comprehensible:*

In [101]:
%%sql
SELECT 
    schools.County AS county,
    SUM(satscores.NumTstTakr) AS total_tests,
    AVG(satscores.AvgScrMath) AS avg_scr_math,
    AVG(satscores.AvgScrRead) AS avg_scr_read,
    AVG(satscores.AvgScrWrite) AS avg_scr_write,
    (AVG(satscores.AvgScrMath) + AVG(satscores.AvgScrRead) + AVG(satscores.AvgScrWrite)) / 3 AS avg_scores
FROM schools
INNER JOIN satscores ON schools.CDSCode = satscores.cds
GROUP BY county
ORDER BY avg_scores DESC;

Running query in 'sqlite:///cdeschools.sqlite'

+-----------------+-------------+-------------------+-------------------+-------------------+-------------------+
|      county     | total_tests |    avg_scr_math   |    avg_scr_read   |   avg_scr_write   |     avg_scores    |
+-----------------+-------------+-------------------+-------------------+-------------------+-------------------+
|      Marin      |     2466    | 538.3846153846154 | 534.7692307692307 |       533.0       | 535.3846153846154 |
|      Nevada     |     558     | 533.5714285714286 |       547.0       | 525.4285714285714 | 535.3333333333334 |
|   Santa Clara   |    21380    |  548.728813559322 |  526.271186440678 | 527.0847457627119 | 534.0282485875706 |
|     Mariposa    |      78     |       550.0       |       534.0       |       513.0       | 532.3333333333334 |
|    El Dorado    |     1876    | 537.7272727272727 | 536.4545454545455 | 515.5454545454545 | 529.9090909090909 |
|    Santa Cruz   |     2368    | 524.2352941176471 | 539.2352941176471 | 524.1176470588235 | 529.1960784313725 |
|    San Mateo    |     6850    |       539.44      |       520.28      |       517.76      | 525.8266666666667 |
| San Luis Obispo |     2140    |       529.0       | 533.7857142857143 | 511.7857142857143 | 524.8571428571428 |
|      Placer     |     5702    | 528.1739130434783 | 528.5652173913044 | 513.2608695652174 | 523.3333333333334 |
|    Calaveras    |     250     |       526.5       |       530.0       |       513.0       | 523.1666666666666 |
+-----------------+-------------+-------------------+-------------------+-------------------+-------------------+
Truncated to displaylimit of 10.

### Left Join & Nulls

Find schools in schools that have no SAT scores. Show `CDSCode` and `School`.

In [102]:
%%sql
SELECT
    schools.CDSCode AS school_code,
    schools.School AS school_name
FROM schools
LEFT JOIN satscores ON schools.CDSCode = satscores.cds
WHERE satscores.AvgScrMath IS NULL AND satscores.AvgScrRead IS NULL AND satscores.AvgScrWrite IS NULL;

Running query in 'sqlite:///cdeschools.sqlite'

+----------------+-----------------------------------------------+
|  school_code   |                  school_name                  |
+----------------+-----------------------------------------------+
| 01100170118489 | Aspire California College Preparatory Academy |
| 01100170123968 |    Community School for Creative Education    |
| 01100170124172 |                Yu Ming Charter                |
| 01100170125567 |            Urban Montessori Charter           |
| 01100170130302 |         Technical, Agricultural & Nat.        |
| 01100170130401 |       Alameda County Juvenile Hall/Court      |
| 01100170130419 |            Alameda County Community           |
| 01100170130427 |           Alameda County Opportunity          |
| 01100170131276 |         Berkeley Trade & Tech. College        |
| 01100170131581 |              Oakland Unity Middle             |
+----------------+-----------------------------------------------+
Truncated to displaylimit of 10.

### Sub-query in WHERE

From frpm, get schools whose `Enrollment (Ages 5-17)` exceeds the overall average enrollment across all schools.

In [103]:
%%sql
SELECT
    "School Name" AS school_name,
    "Enrollment (Ages 5-17)" AS enrollment_ages_5_17,
    (
        SELECT
            AVG("Enrollment (Ages 5-17)")
        FROM frpm
        WHERE "School Name" IS NOT NULL -- Filter out empty School Name's
    ) AS avg_enrollment_ages_5_17
FROM frpm
WHERE enrollment_ages_5_17 > avg_enrollment_ages_5_17 AND school_name IS NOT NULL
ORDER BY enrollment_ages_5_17 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+--------------------------------------+----------------------+--------------------------+
|             school_name              | enrollment_ages_5_17 | avg_enrollment_ages_5_17 |
+--------------------------------------+----------------------+--------------------------+
|             Cox Academy              |        586.0         |    585.3095834940224     |
|         Brookvale Elementary         |        586.0         |    585.3095834940224     |
|         Rosedale Elementary          |        586.0         |    585.3095834940224     |
|     Bollinger Canyon Elementary      |        586.0         |    585.3095834940224     |
|      Desert Junior-Senior High       |        586.0         |    585.3095834940224     |
| Endeavor College Preparatory Charter |        586.0         |    585.3095834940224     |
|      Langdon Avenue Elementary       |        586.0         |    585.3095834940224     |
|          Saticoy Elementary          |        586.0         |    585.3095834940224     |
|            Howard Tanner             |        586.0         |    585.3095834940224     |
|       James Foster Elementary        |        586.0         |    585.3095834940224     |
+--------------------------------------+----------------------+--------------------------+
Truncated to displaylimit of 10.

🚀🚀 **Advanced**: Another way to achieve the above is to use a window function:

In [104]:
%%sql
WITH school_data AS (
    SELECT
        "School Name" AS school_name,
        "Enrollment (Ages 5-17)" AS enrollment_ages_5_17,
        AVG("Enrollment (Ages 5-17)") OVER() AS avg_enrollment_ages_5_17 -- avg_enrollment_ages_5_17 is the window function!
    FROM frpm
    WHERE "School Name" IS NOT NULL
)
SELECT
    *
FROM school_data
WHERE enrollment_ages_5_17 > avg_enrollment_ages_5_17 -- Window function is calculated here!
ORDER BY enrollment_ages_5_17 ASC;

Running query in 'sqlite:///cdeschools.sqlite'

+--------------------------------------+----------------------+--------------------------+
|             school_name              | enrollment_ages_5_17 | avg_enrollment_ages_5_17 |
+--------------------------------------+----------------------+--------------------------+
|             Cox Academy              |        586.0         |    585.3095834940224     |
|         Brookvale Elementary         |        586.0         |    585.3095834940224     |
|         Rosedale Elementary          |        586.0         |    585.3095834940224     |
|     Bollinger Canyon Elementary      |        586.0         |    585.3095834940224     |
|      Desert Junior-Senior High       |        586.0         |    585.3095834940224     |
| Endeavor College Preparatory Charter |        586.0         |    585.3095834940224     |
|      Langdon Avenue Elementary       |        586.0         |    585.3095834940224     |
|          Saticoy Elementary          |        586.0         |    585.3095834940224     |
|            Howard Tanner             |        586.0         |    585.3095834940224     |
|       James Foster Elementary        |        586.0         |    585.3095834940224     |
+--------------------------------------+----------------------+--------------------------+
Truncated to displaylimit of 10.